@font-face {
    font-family: pixelfont;
    src: url(../minecraft-pixel-font-5x5.ttf);
}

* {
    font-family: pixelfont, serif;
    font-size: 1em;
    line-height: 1.25em;
}

body {
    padding: 0;
    margin: 0 0 auto 0;
    background-color: darkred;
    font-size: 16px;
}

div.body-test {
    margin-bottom: auto;
}

@media (max-width: 768px) {
    body {
        font-size: 8px;
    }
}

/* @media (min-width: 1440px) {
    Body {
        font-size: 19.8px;
    }
} */
@media (min-width: 1541px) {
    body {
        font-size: 24px;
    }
}

.Grass {
    position: fixed;
    bottom: 0;
    z-index: 11;
    left: 0;
    width: 96.25em;
    height: 2.5em;
}

.Home {
    position: fixed;
    background-attachment: fixed;
    left: 33.125em;
    bottom: 0.625em;
    height: 37.5em;
    width: 65em;
    z-index: 6;
}

.campfire {
    position: fixed;
    background-attachment: fixed;
    left: 25em;
    bottom: 0.625em;
    height: 10.625em;
    width: 8.125em;
    z-index: 6;
}

.Tree {
    position: fixed;
    bottom: -0.625em;
    z-index: 7;
    left: 50em;
    width: 26.875em;
    height: 32.5em;
}

.AppleGround {
    position: fixed;
    left: 52.5em;
    bottom: 1.25em;
    z-index: 13;
    width: 3.75em;
    height: 3.75em;
}

.AppleTree1 {
    position: fixed;
    left: 68.75em;
    bottom: 14.375em;
    z-index: 14;
    width: 2.5em;
    height: 2.5em;
}

.AppleTree2 {
    position: fixed;
    left: 64.375em;
    bottom: 25em;
    z-index: 15;
    width: 2.5em;
    height: 2.5em;
}

.AppleTree3 {
    position: fixed;
    left: 59.375em;
    bottom: 15.625em;
    z-index: 16;
    width: 2.5em;
    height: 2.5em;
}

.AppleTree4 {
    position: fixed;
    left: 56.25em;
    bottom: 23.75em;
    z-index: 17;
    width: 2.5em;
    height: 2.5em;
}

.AppleTree5 {
    position: fixed;
    left: 52.5em;
    bottom: 18.75em;
    z-index: 18;
    width: 2.5em;
    height: 2.5em;
}

.Stone {
    position: fixed;
    bottom: 0.625em;
    z-index: 8;
    left: 2.5em;
    width: 6.875em;
    height: 4.375em;
}

.Sprite {
    position: fixed;
    bottom: 0.625em;
    left: 9.375em;
    z-index: 12;
    height: 20em;
    width: 20em;
}

.arthur {
    position: fixed;
    bottom: 0.625em;
    left: 9.375em;
    z-index: 12;
    width: 20em;
    height: 20em;
}


.SpeechBubble {
    position: fixed;
    bottom: 14.375em;
    left: 17.5em;
    z-index: 90;
    display: none;
    width: 30em;
    height: 15em;
}

.Cloud1 {
    position: fixed;
    bottom: 39.375em;
    z-index: 2;
    left: 12.5em;
    width: 15.625em;
    height: 5em;
}

.Cloud2 {
    position: fixed;
    bottom: 35.625em;
    z-index: 2;
    left: 62.5em;
    width: 15.625em;
    height: 5em;
}

.Cloud3 {
    position: fixed;
    bottom: 33.125em;
    z-index: 2;
    left: 46.875em;
    width: 15.625em;
    height: 5em;
}

.Cloud4 {
    position: fixed;
    bottom: 34.375em;
    z-index: 2;
    left: 6.25em;
    width: 15.625em;
    height: 5em;
}

.Cloud5 {
    position: fixed;
    bottom: 31.25em;
    z-index: 2;
    left: 50em;
    width: 15.625em;
    height: 5em;
}

.Cloud6 {
    position: fixed;
    bottom: 37.5em;
    z-index: 7;
    left: 87.5em;
    width: 15.625em;
    height: 5em;
}

.Sun {
    position: fixed;
    bottom: -3.125em;
    z-index: 0;
    left: 31.25em;
    width: 6.25em;
    height: 6.25em;
}

.Moon {
    position: fixed;
    bottom: -3.125em;
    z-index: 1;
    left: 31.25em;
    width: 6.25em;
    height: 6.25em;
}

.IconHeart {
    position: fixed;
    left: 2.5em;
    bottom: 39.375em;
    z-index: 100;
    width: 4.375em;
    height: 4.375em;
}

.HealthLevels canvas {
    position: fixed;
    left: 0.625em;
    bottom: 37.5em;
    z-index: 99;
    width: 8.125em;
    height: 8.125em;
}

.IconEnergy {
    position: fixed;
    left: 11.25em;
    bottom: 39.375em;
    z-index: 100;
    width: 4.375em;
    height: 4.375em;
}

.EnergyLevels canvas {
    position: fixed;
    left: 9.375em;
    bottom: 37.5em;
    z-index: 99;
    width: 8.125em;
    height: 8.125em;

}

.IconDeadeye {
    position: fixed;
    left: 20em;
    bottom: 39.375em;
    z-index: 100;
    width: 4.375em;
    height: 4.375em;
}

.DeadeyeLevels canvas {
    position: fixed;
    left: 18.125em;
    bottom: 37.5em;
    z-index: 99;
    width: 8.125em;
    height: 8.125em;
}

.Counters {
    position: fixed;
    z-index: 50;
    bottom: 25em;
}

.Counter {
    color: #575757;
}

.Box {
    position: fixed;
    left: 20em;
    bottom: 12em;
    background-color: #606060;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 300;
    max-width: 50em;
}

/* .startscreen{
    position: fixed;
    left: 410px;
    bottom: auto;
 } */

.Box h1,
p {
    font-size: 50px;
    margin: 0 0 10px;
}

.Start {
    background: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.Start:hover {
    background: #cc0000;
}

.GameStarted body {
    filter: none;
}

.Box.hidden {
    display: none;
}